@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
  --primary-color: #76cfba;
  --letter-color: #275c59;
  --white-color: #ecffff;
  --gray-color: #a4cac1;
  --dark-color: #151515;
}
/*
:root {
  --primary-color: #213E3B;
  --letter-color: #41AEA9;
  --white-color: #E8FFFF;
  --dark-color: #151515;
}
*/
html {
  font-size: 10px;
  font-family: 'Poppins';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
 }

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ************** INDEX ************** */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--primary-color);
}

aside {
  padding: 2rem;
  padding-right: 0;
  color: var(--letter-color);
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  gap: 4rem;
}

.close-menu {
  display: none;
}

/* ********** Menu de Usuario ************ */

.boton-usuario {
  border: 0;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: var(--letter-color);
  transition: color .2s;
  padding-top: .7rem;
}

.boton-usuario:hover {
  color: black;
}

.menu-usuario {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  position: fixed;
  left: 200px;
  top: 60px;
  background-color: var(--white-color);
  border-radius: 5px;
  transition: max-height .3s ease-out;
}

.menu-usuario li {
  padding: 10px;
}

.menu-usuario a {
  text-decoration: none;
}

.menu-usuario.mostrar {
  max-height: 100vh;
}
/* *************************************** */

.logo {
  font-weight: 400;
  font-size: 2rem;
  padding-top: .5rem;
  padding-left: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.boton-menu {
  background-color: transparent;
  border: 0;
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  font-size: 1.7rem;
  width: 100%;
}

.boton-menu.active {
  background-color: var(--white-color);
  color: var(--letter-color);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  position: relative;
}

.boton-menu.active::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 1rem 0 var(--white-color);
}

.boton-menu.active::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 1rem;
  box-shadow: 0 -1rem 0 var(--white-color);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
  transform: rotateZ(90deg);
}

.boton-carrito {
  margin-top: 3rem;
}

.numerito {
  background-color: var(--white-color);
  color: var(--letter-color);
  padding: 0 .5rem;
  border-radius: .5rem;
}

.texto-footer {
  color: gray;
}

main {
  background-color:var(--white-color) ;
  margin: 1rem;
  border-radius: 2rem;
  padding: 2rem;
  margin-left: 0;
}

.titulo-principal {
  color: var(--letter-color);
  margin-bottom: 2rem;
}


.filtro-categorias {
  position: absolute;
  top: 30px;
  right: 70px;
}

.filtro-categorias label {
  font-size: 12px;
  color: var(--letter-color);
}

.filtro-categorias select {
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: .5rem;
  border: 2px solid var(--gray-color);
  background-color: var(--white-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: border-color .2s, background-color .2s;
  outline: none;
}

.filtro-categorias select:hover {
  border-color: var(--primary-color);
  background-color: var(--gray-color);
}
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto {
  width: 340px;
}

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.producto-detalles {
  background-color: var(--primary-color);
  color: var(--letter-color);
  padding: .5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.producto-titulo {
  font-size: 1.5rem;
}

.producto-precio {
  font-size: 1.5rem;
}

.producto-agregar {
  border: 0;
  background-color: var(--white-color);
  color: var(--letter-color);
  padding: .4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--white-color);
  transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.modal {
  display: flex;
  gap: 15%;
  flex-wrap: wrap;
  row-gap: 50px;
}

.modal-contenido {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#formulario-producto {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

#formulario-producto input, #formulario-producto select, #formulario-producto button {
  width: 20vw;
  height: 30px;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
}

#formulario-producto button {
  width: 35%;
  background-color: var(--letter-color);
  color: var(--white-color);
  border: 2px solid var(--letter-color);  
  transition: background-color .2s, color .2s;
}

#formulario-producto button:hover {
  background-color: var(--white-color);
  color: var(--letter-color);
}

.form-field {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.form-btn {
  display: flex;
  justify-content: space-around;
}

/* ************** CARRITO ************** */

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
  color: var(--letter-color);
  font-size: 1.5rem;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-color);
  color: var(--letter-color);
  padding: .5rem;
  padding-right: 2.4rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.carrito-producto-imagen {
  width: 8rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: 1.2rem;
}

.carrito-producto-cantidad {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.carrito-producto-cantidad .cantidad {
  max-width: 50px;
  background: transparent;
  border: none;
  outline: none;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: rgb(165, 24, 24);
  cursor: pointer;
}

.bi-trash3-fill {
  font-size: 1.5rem;
}

.bi-trash3-fill:hover {
  color: black;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--gray-color);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--letter-color);
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid var(--gray-color);
  transition: background-color .2s, color .2s;
}

.carrito-acciones-vaciar:hover {
  background-color: var(--white-color);
  color: var(--letter-color);
}

.carrito-acciones-comprar {
  border: 0;
  background-color: var(--letter-color);
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--white-color);
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid var(--letter-color);
  transition: background-color .2s, color .2s;
}

.carrito-acciones-comprar:hover {
  background-color: var(--white-color);
  color: var(--letter-color);
}

.carrito-accciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--letter-color);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.header-mobile {
  display: none;
}

.disabled {
  display: none;
}


/* ********** RESPONSIVE **************** */

@media screen and (max-width: 800px) {

  /***************** INDEX ********************/

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  aside {
    position: fixed;
    z-index: 9;
    background-color: var(--primary-color);
    left: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }

  .aside-visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition: .2s;
  }

  .aside-visible h1 {
    padding-right: 6rem;
  }

  .aside-visible .boton-usuario {
    position: relative;
    right: 70px;
  }

  .aside-visible .menu-usuario {
    left: 170px;
  }


  .boton-menu.active::before,
  .boton-menu.active::after {
    display: none;
  }

  main {
    margin: 1rem;
    margin-top: 0;
    padding: 2rem;

  }

  .filtro-categorias {
    top: 70px;
    right: 50px;
  }

  .contenedor-productos {
    display: flex;
    flex-wrap: wrap;
  }

  .producto {
    width: 145px;
  }

  .header-mobile {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .open-menu, .close-menu {
    background-color: transparent;
    color: var(--letter-color);
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 2.8rem;
    right: 1rem;
  }

  .open-menu:hover, .close-menu:hover {
    color: black;
  }

  /*****************************************/


  /*************** CARRITO *****************/

  .carrito-producto {
    gap: 1rem;
  }

  .carrito-producto-subtotal {
    display: none;
  }

  /*****************************************/
}